@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Categories.mealDrinks
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome To Recipes</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="spacer"></div>
            <div class="card">
                <a asp-controller="Meals" asp-action="Index" style="color:black;text-decoration:none;"><h3 class="card-header text-center">Meals</h3></a>
                <ul class="list-group list-group-flush">
                    @foreach (MealItem mi in @Model.meals)
                    {
                        var routeData = new RouteValueDictionary(mi).ToDictionary(kvp => kvp.Key, kvp => kvp.Value?.ToString());
                        <a asp-controller="Meals" asp-action="MealRecipe" asp-route-id="@mi.idMeal" style="color:black;text-decoration:none;">
                            <li class="card container-fluid" style="flex-direction:column;">
                                <div class="row">
                                    <img style="width:150px !important;" src="@mi.strMealThumb" />
                                    <h2 style="align-self:center; width:70%;">@mi.strMeal</h2>
                                </div>
                                <a id="favoriteButton" href="#" data-id="@mi.idMeal" data-soort="meal" class="btn btn-outline-warning favorite-button">Favorite</a>
                            </li>
                        </a>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="spacer"></div>
            <div class="card">
                <a asp-controller="Cocktails" asp-action="Index" style="color:black; text-decoration:none;"><h3 class="card-header text-center">Cocktails</h3></a>
                <ul class="list-group list-group-flush">
                    @foreach (CocktailItem mi in @Model.drinks)
                    {
                        var routeData = new RouteValueDictionary(mi).ToDictionary(kvp => kvp.Key, kvp => kvp.Value?.ToString());
                        <a asp-controller="Cocktails" asp-action="CocktailRecipe" asp-route-id="@mi.idDrink" style="color:black;text-decoration:none;">
                            <li class="card container-fluid" style="flex-direction:column;">
                                <div class="row">
                                    <img style="width:150px !important;" src="@mi.strDrinkThumb" />
                                    <h2 style="align-self:center; width:70%;">@mi.strDrink</h2>
                                </div>
                                <a id="favoriteButton" href="#" data-id="@mi.idDrink" data-soort="cocktail" class="btn btn-outline-warning favorite-button">Favorite</a>
                            </li>
                        </a>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Attach event handler to both anchor elements
            $('.favorite-button').click(function (e) {
                e.preventDefault(); // Prevent default behavior of anchor element

                var id = $(this).data('id');
                var soort = $(this).data('soort');

                $.ajax({
                    url: '/Profile/AddFavorite',
                    type: 'POST',
                    data: { id: id, soort: soort },
                    success: function (response) {
                        // Handle success response if needed
                        console.log("Recipe added to favorites!");
                    },
                    error: function (xhr, status, error) {
                        // Handle error response if needed
                        console.error("Error adding recipe to favorites:", error);
                    }
                });
            });
        });
    </script>
}