@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Categories.mealDrinks
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome To Recipes</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="spacer"></div>
            <div class="card">
                <a asp-controller="Meals" asp-action="Index" style="color:black;text-decoration:none;"><h3 class="card-header text-center">Meals</h3></a>
                <ul class="list-group list-group-flush">
                    @foreach (MealItem mi in @Model.meals)
                    {
                        <a asp-controller="Meals" asp-action="MealRecipe" asp-route-id="@mi.idMeal" style="color:black;text-decoration:none;">
                            <li class="card container-fluid" style="flex-direction:row;">
                                <img width="150" src="@mi.strMealThumb" />
                                <h2 style="align-self:center">@mi.strMeal</h2>
                            </li>
                        </a>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="spacer"></div>
            <div class="card">
                <a asp-controller="Cocktails" asp-action="Index" style="color:black; text-decoration:none;"><h3 class="card-header text-center">Cocktails</h3></a>
                <ul class="list-group list-group-flush">
                    @foreach (CocktailItem mi in @Model.drinks)
                    {
                        <a asp-controller="Cocktails" asp-action="CocktailRecipe" asp-route-id="@mi.idDrink" style="color:black;text-decoration:none;">
                        <li class="card container-fluid" style="flex-direction:row;">
                            <img width="150" src="@mi.strDrinkThumb" />
                            <h2 style="align-self:center">@mi.strDrink</h2>
                        </li>
                        </a>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
