@model User;

@{
    IList<Favorites> FMeals = null;
    IList<Favorites> FCocktails = null;
    if(Model.Favorites != null)
    {
        FMeals = Model.Favorites.Where(f => f.Soort == "meal").ToList();
        FCocktails = Model.Favorites.Where(f => f.Soort == "cocktail").ToList();
    }
}

<section style="background-color: #eee; align-content:center;">
    <div class="py-5">
        <div class="d-flex flex-column align-items-center">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Username</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Username</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Email</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div style="display:flex;flex-direction:column;flex-wrap:wrap;justify-content: center;">
                            @if(Model.Favorites != null){
                                <h2 class="text-center">Favorieten</h2>
                                <div class="text-center d-flex justify-content-around">
                                    <div class="w-auto ">
                                        <h2>Meals</h2>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">img</th>
                                                    <th scope="col">name</th>
                                                    <th scope="col">Fav</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @if(FMeals != null)
                                            {
                                                @foreach (var meal in FMeals)
                                                {
                                                    var jmeal = await new ApiMeals().GetMealById(new(), meal.recipeId.ToString());
                                                    var mealitem = new MealItem()
                                                    {
                                                        idMeal = jmeal.idMeal,
                                                        strMeal = jmeal.strMeal,
                                                        strMealThumb = jmeal.strMealThumb,
                                                    };
                                                    if (mealitem != null)
                                                    {
                                                        //<partial name="../Meals/MealViewPartial" model="mealitem" />
                                                        <tr>
                                                            <td scope="row"><img src="@mealitem.strMealThumb" width="50" /></td>
                                                            <td><a asp-action="MealRecipe" asp-controller="Meals" asp-route-id="@mealitem.idMeal">@mealitem.strMeal</a></td>
                                                            <td><a id="favoriteButton" data-id="@mealitem.idMeal" data-soort="meal" class="btn btn-outline-warning favorite-button mt-auto">Favorite</a></td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class ="w-auto">
                                        <h2>Drinks</h2>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">img</th>
                                                    <th scope="col">name</th>
                                                    <th scope="col">Fav</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @if(FCocktails != null)
                                            {
                                                @foreach (var cocktail in FCocktails)
                                                {
                                                    var drink = await new ApiCocktails().GetCocktailById(new(), cocktail.recipeId.ToString());
                                                    var drinkitem = new CocktailItem()
                                                    {
                                                        idDrink = drink.idDrink,
                                                        strDrink = drink.strDrink,
                                                        strDrinkThumb = drink.strDrinkThumb,
                                                    };
                                                    if (drinkitem != null)
                                                    {
                                                        //<partial name="../Cocktails/CocktailViewPartial" model="drinkitem" />
                                                        <tr>
                                                            <td scope="row"><img src="@drinkitem.strDrinkThumb" width="50" /></td>
                                                            <td><a asp-action="CocktailRecipe" asp-controller="Cocktails" asp-route-id="@drinkitem.idDrink">@drinkitem.strDrink</a></td>
                                                            <td><a id="favoriteButton" data-id="@drinkitem.idDrink" data-soort="cocktail" class="btn btn-outline-warning favorite-button mt-auto">Favorite</a></td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Er zijn nog geen favorieten gemaakt</h5>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Attach event handler to both anchor elements
            $('.favorite-button').click(function (e) {
                e.preventDefault(); // Prevent default behavior of anchor element

                var id = $(this).data('id');
                var soort = $(this).data('soort');

                $.ajax({
                    url: '/Profile/DelFavorite',
                    type: 'POST',
                    data: { id: id, soort: soort },
                    success: function (response) {
                        // Handle success response if needed
                        console.log("Recipe Deleted from favorites!");
                    },
                    error: function (xhr, status, error) {
                        // Handle error response if needed
                        console.error("Error Removing recipe to favorites:", error);
                    }
                });
                location.reload();
            });
        });
    </script>
}